<!doctype html>
<html lang="en">
<head>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="#" class="nav-link"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="{% url 'dog_profiles' %}" class="nav-link"><i class="fa fa-paw"></i> Dogs</a></li>
        <li><a href="{% url 'cart'%}" class="nav-link"><i class="fa fa-shopping-cart"></i> Cart</a></li>
        <li><a href="#profile" class="nav-link"><i class="fa fa-user"></i> Profile</a></li>
        <li><a href="/logout/" class="nav-link"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
      </ul>
    </nav>
</div>

<div class="yourcart">
    <h2>Your Cart</h2>
    <ul>
        {% for item in cart_items %}
        <li>
            <img src="{{ item.dog.image.url }}" alt="{{ item.dog.name }}" width="100">
            <h3>{{ item.dog.name }}</h3>
            <p>{{ item.dog.description }}</p>
        </li>
        {% endfor %}
    </ul>
    <a href="/place_order/">Place Order</a>

</div>

</body>
</html>
