<!-- password_reset.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <link rel="stylesheet"  type="text/css"    href="{% static 'css/style.css'%}">
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body >
  <h2>Reset Your Password</h2>
<div class="resetpasswordcontainer">
        <div>
    {% if messages %}
       <div >
        {% for message in messages %}
           <div class="{{message.tags}}">
                <p>{{ message }}</p>
           </div>

        {% endfor %}
       </div>
    {% endif %}
    </div>
    <div>
            <form method="POST" class="passwordresetform">
                {% csrf_token %}
                <label for="email">Enter your email address:</label>
                <input type="email" id="email" name="email" required>
                <button type="submit">Send Code</button>
            </form>
    </div>

</div>
</body>
</html>
