<!-- password_reset_confirm.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <meta charset="UTF-8">
    <title>Reset Your Password</title>
</head>
<body>
    <h2>Reset Your Password</h2>
<div  class="resetcodecontainer">
    <div>
             {% if messages %}
                  <div>
                    {% for message in messages %}
                      <div class="{{message.tags}}">
                           <p><{{ message }}</p>
                      </div>

                    {% endfor %}
                  </div>
             {% endif %}
        </div>

    <form method="POST">
        {% csrf_token %}
        <label for="code">Enter the reset code sent to your email:</label>
        <input type="text" id="code" name="code" required>

        <label for="password">Enter your new password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Reset Password</button>
    </form>



</div>
</body>
</html>
